#add{
    text-align: center;
}

#title{
    font-size: 35px;
    text-align: center;
}

.card{
    margin: 5%;
    width: 20rem;
}

li{
    list-style-type: none;
}

/* li{
    text-align: center;
}  */
ol li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    
    transition: 0.2s;
  }

ol li.checked {
    background: rgb(185, 142, 142);
    color: rgb(216, 200, 200);
    text-decoration: line-through;
}

